/*** text indents ***/
#logo {
  display: block;
  text-indent: -19999px;
  overflow: hidden;
}
/*** header ***/
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  background-color: #005586;
  z-index: 10;
}
#logo {
  width: 155px;
  height: 22px;
  background: url('../img/mobile/sprite.png') 0 -144px no-repeat;
  margin: 12px auto 0 auto;
}
#back {
  position: absolute;
  top: 9px;
  left: 10px;
  width: 44px;
  height: 20px;
  background: url('../img/mobile/sprite.png') 0 -166px no-repeat;
  color: #000;
  text-decoration: none;
  padding: 6px 0 0 7px;
  display: none;
}
#back:active {
  background-position: -51px -166px;
}

/*** google map ***/
#map-wrap {
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 50px;
  width: 100%;
}
#map_canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #212121;
  z-index: 5;
}

#map_canvas #info_offline {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -150px;
  text-align: center;
  width: 300px;
  height: 50px;
  font-size: 13px;
  color: #fff;
}

/*** navigation ***/
#navigation {
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: #000;
  border-top: 2px solid #8e8e8e;
  overflow: hidden;
  z-index: 10;
}
#navigation .menu-item {
  display: block;
  float: left;
  width: 20%;
  font-size: 13px;
  text-align: center;
}
#navigation .menu-item a {
  position: relative;
  text-decoration: none;
  color: #8e8e8e;
  width: 100%;
  height: 18px;
  margin: 0 auto;
  padding-top: 30px;
  display: inline-block;
}

#navigation .menu-item a:active {
  color: #fff;
  background-color: #8e8e8e;
}

.active-navi-a {
  color: #fff !important;
  background-color: #8e8e8e !important;
}
#navigation .menu-item span {
  position: absolute;
  top: -7px;
  left: 50%;
  margin-left: -24px;
  display: block;
  width: 48px;
  height: 48px;
  background-image: url('../img/mobile/sprite.png');
  background-repeat: no-repeat;
}

#navigation .position a > span {
  background-position: 0 0;
}
#navigation .address a > span {
  background-position: -96px 0;
}
#navigation .fontain a > span {
  background-position: 0 -96px;
}
#navigation .maptype a > span {
  background-position: 0 -48px;
}
#navigation .feed a > span {
  background-position: -96px -48px;
}

#navigation .menu-item .position a:active > span {
  background-position: -48px 0;
}
#navigation .menu-item .address a:active > span {
  background-position: -144px 0;
}
#navigation .menu-item .fontain a:active > span {
  background-position: -48px -96px;
}
#navigation .menu-item.maptype a:active > span {
  background-position: -48px -48px;
}
#navigation .menu-item.feed a:active > span {
  background-position: -144px -48px;
}

.active-navi-position {
  background-position: -48px 0;
}
.active-navi-address {
  background-position: -144px 0;
}
.active-navi-fontain {
  background-position: -48px -96px;
}
.active-navi-maptype {
  background-position: -48px -48px;
}
.active-navi-feed {
  background-position: -144px -48px;
}

/*** info icon (header navigation) ***/
#header-navigation {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 10;
  width: 100%;
}
#header-navigation .menu-item a {
  display: block;
  text-indent: -19999px;
  overflow: hidden;
  width: 46px;
  height: 42px;
}
#header-navigation .about {
  position: absolute;
  right: 0px;
  top: 0px;
}
#header-navigation .lake {
  position: absolute;
  left: 0px;
  top: 0px;
}

#header-navigation .lake a:link, #header-navigation .lake a:visited{
    background: url('../img/mobile/sprite.png') -192px -52px no-repeat;
}
#header-navigation .lake a:active, .fake-active-lake{
    background: url('../img/mobile/sprite.png') -192px -152px no-repeat;
}

#header-navigation .about a:link, #header-navigation .about a:visited{
    background: url('../img/mobile/sprite.png') -191px -2px no-repeat;
}
#header-navigation .about a:active, .fake-active-about{
    background: url('../img/mobile/sprite.png') -191px -102px no-repeat;
}

/*** address search ***/
#address {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  background-color: #eee;
  display: none;
  z-index: 30;
}
.addressinput {
  display: block;
  border: 1px solid #afafaf;
  padding: 5px 10px 5px 30px;
  color: #333;  
  margin: 7px auto 0 auto;
  width: 75%;
  background: url('../img/mobile/search.gif') #fff 10px 5px no-repeat;
}
.addressinput:focus{
  padding: 5px 35px 5px 5px;
  background:#fff;
}
.searchsubmit {
  display: none;
}

/*** maptypes ***/
#maptype {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  display: none;
  z-index: 10;
}
#maptype ul {
  width: 85%;
  margin: 0 auto;
}
#maptype .menu-item {
  display: block;
  float: left;
  width: 24%;
  height: 27px;
  background-color: #eee;
  border: 1px solid #afafaf;
  border-right: 0;
  padding: 13px 0 0 0;
  font-size: 14px;
  text-align: center;
}
#maptype .menu-item:last-child {
  border-right: 1px solid #afafaf;
}
#maptype .menu-item a {
  text-decoration: none;
  color: #8e8e8e;
}
#maptype .menu-item a:hover {
  color: #000;
}

/*** feed ***/
#feed {
}
#rss {
  height: 100%;
  background-color: #212121;
  padding: 10px 0 60px 0;
  margin-top: 44px;
}
#rss article {
  position: relative;
  width: 90%;
  min-height: 160px;
  margin: 0 auto 10px auto;
  background-color: #fff;
  padding: 10px;
}
#rss a {
  text-decoration: none;
}
#rss img {
  float: right;
  margin: -20px 10px 0 15px;
  max-width: 100px;
  height: auto;
  margin-top: 0;
}
#rss .feed-date {
  font-size: 11px;
  color: #a8a8a8;
}

/*** info ***/
#info, #lakes {
  background-color: #212121;
  padding: 0 0 65px 0;
  margin-top: 44px;
  display: none;
}
#info #info-content, #lakes #lakes-content {
  position: relative;
  width: 90%;
  top: 8px;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px;
  min-width: 273px;
}
#lakes {
  display: none;
  min-width: 310px;
}
#lakes big {
  font-size: 120%;
}
#lakes h3 {
  margin: 0px;
  font-size:14.5px;
}
#lakes-content p{
  margin-bottom:20px;
}
#lakes-content > ul{
  margin-top:20px;
}
#lakes ul li ul {
  width: 100%;
  min-width: 279px;
  float: left;
}
#lakes ul li ul li {
  float: left;
  margin: 5px 0px 5px 0px;
}
#lakes ul li ul li span {

}
#lakes ul li ul li {
  width: 37%;
  min-width: 107px;
  margin: 5px 0px 5px 5px;
}
#lakes ul li ul li + li {
  width: 22%;
  min-width: 48px;
  text-align: center;
  margin: 5px 2px 5px 0px;
}
#lakes ul li ul li + li + li {
  width: 35%;
  min-width: 99px;
  text-align: center;
  margin: 5px 2px 5px 0px;
}
#overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 10000px;
  height: 50000px;
  background-color: #212121;
}