/*** text indents ***/
#logo {
  display: block;
  text-indent: -19999px;
  overflow: hidden;
  width: 155px;
  height: 22px;
  margin: 12px auto 0 auto;
}

/*** header ***/
#header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  background-color: #005586;
}

/*** google map ***/
#map-wrap {
  position: absolute;
  z-index: 0;
  top: 44px;
  left: 0;
  right: 0;
  width: 100%;
}

#map_canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#navigation {
  position: fixed;
  z-index: 999;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

#navigation .menu-item {
  display: block;
  float: left;
  width: 20%;
  font-size: 13px;
  text-align: center;
}

#navigation .menu-item a {
  position: relative;
  text-decoration: none;
  margin: 0 auto;
  display: inline-block;
}

#navigation .menu-item span {
  position: absolute;
  left: 50%;
  margin-left: -24px;
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}

#navigation #navigation-position a > span {
  background-position: 0 0;
}
#navigation #navigation-address a > span {
  background-position: -96px 0;
}
#navigation #navigation-fountain a > span {
  background-position: 0 -96px;
}
#navigation #navigation-maptype a > span {
  background-position: 0 -48px;
}
#navigation #navigation-feed a > span {
  background-position: -96px -48px;
}

#navigation #navigation-position a:active > span, .active-navigation-position {
  background-position: -48px 0 !important;
}
#navigation #navigation-address a:active > span, .active-navigation-address {
  background-position: -144px 0 !important;
}
#navigation #navigation-fountain a:active > span, .active-navigation-fontain {
  background-position: -48px -96px !important;
}
#navigation #navigation-maptype a:active > span, .active-navigation-maptype {
  background-position: -48px -48px !important;
}
#navigation #navigation-feed a:active > span, .active-navigation-feed {
  background-position: -144px -48px !important;
}

/*** info icon (header navigation) ***/
#header-navigation {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 10;
  width: 100%;
}
#header-navigation .menu-item a {
  display: block;
  text-indent: -19999px;
  overflow: hidden;
  width: 46px;
  height: 42px;
}
#header-navigation #header-about, #header-navigation #header-lake {
  position: absolute;
  top: 0px;
}

#header-navigation #header-about {
  right: 0px;
}
#header-navigation #header-lake {
  left: 0px;
}

/*** address search ***/
#address {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  display: none;
  z-index: 100;
}
.addressinput {
  display: block;
  border: 1px solid #afafaf;
  padding: 5px 10px 5px 30px;
  color: #333;
  margin: 7px auto 0 auto;
  width: 75%;
  background: url('../img/mobile/search.gif') #fff 10px 5px no-repeat;
}
.searchsubmit {
  display: none;
}
#maptype {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  display: none;
  z-index: 100;
}
#maptype ul {
  width: 85%;
  margin: 0 auto;
}
#maptype .menu-item {
  display: block;
  float: left;
  width: 24%;
  height: 40px;
  font-size: 14px;
  text-align: center;
}
#maptype .menu-item a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}
#rss {
  height: 100%;
  padding: 10px 0 0px 0;
}
#rss article {
  position: relative;
  width: 100%;
  min-height: 160px;
  margin: 0 auto 10px auto;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#rss a {
  text-decoration: none;
}
#rss img {
  float: right;
  margin: -20px 10px 0 15px;
}
#rss .feed-date {
  font-size: 11px;
  color: #a8a8a8;
}
#info, #lakes, #feed {
  padding: 0 10px 65px 10px;
  display: none;
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  z-index: 500;
  min-height:100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#info #info-content, #lakes #lakes-content {
  position: relative;
  top: 8px;
  width: 100%;
  margin: 0 auto 0px;
  background-color: #fff;
  border: 1px solid #ababab;
  padding: 10px;
  min-width: 280px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#lakes big {
  font-size: 120%;
  font-weight: bold;
}
#lakes h3 {
  margin: 0px;
  font-weight: bold;
}

#lakes #lakes-content #lakes-listing > p {
  padding: 0px 0px 5px 0px;
  margin-bottom: 0px;
}

#lakes ul {
  width: 100%;
  min-width: 260px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#lakes ul li {
  width: 100%;
}

#lakes ul li ul {
  float: left;
  min-width: 260px;
}

#lakes ul li ul li {
  padding: 8px 8px 8px 8px;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#lakes ul li ul li {
  min-width: 85px;
  width: 40%;
}
#lakes ul li ul li + li {
  min-width: 65px;
  width: 23%;
}
#lakes ul li ul li + li + li {
  width: 35%;
}

#lakes #lakes-content #lakes-graphics {
  padding: 5px 0px 0px 0px;
}

#lakes #lakes-content #lakes-graphics img{
  width:100%;
}

@media only screen and (max-width: 320px) {
  #rss img {
    max-width: 80px;
    height: auto;
    margin-top: 0;
  }
}

#failure {
  display: none;
  position: fixed;
  top: auto;
  bottom: 49px;
  left: 0;
  width: 100%;
  height: 32px;
  background-color: #005586;
  overflow: hidden;
  z-index: 999;
}

#failure_message {
  height: 32px;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 32px;
  vertical-align: middle;
  overflow: hidden;
}

#reloading_map, #reloading_lakes, #reloading_feed, #reloading_fountains {
  display: none;
}

.reload_button {
  width: 24px;
  height: 26px;
  cursor: pointer;
}

#reloading_lakes {
  padding: 10px;
  height: 80px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  background: #E9E9E9;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#reloading_lakes .info_offline {
  width: 100%;
}
#reloading_lakes .reload_button {
  margin: auto;
  background-position: -48px 0px;
}
#reloading_lakes .reload_button:active {
  background-position: -24px 0px;
}

#reloading_feed {
  margin-top: 10px;
  padding: 10px;
  height: 80px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  min-width: 260px;
  width: 100%;
  background: #FFF;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#reloading_feed .info_offline {
  line-height: 30px;
  width: 100%;
}
#reloading_feed .reload_button {
  margin: auto;
  background-position: -48px 0px;
}
#reloading_feed .reload_button:active {
  background-position: -24px 0px;
}

#reloading_map {
  padding: 10px;
  min-width: 300px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

#reloading_map > div {
  width: 100%;
  height: 80px;
  background: white;
}

#reloading_map .info_offline {
  padding-top: 10px;
  line-height: 30px;
  width: 100%;
}
#reloading_map .reload_button {
  margin: auto;
  background-position: -48px 0px;
}
#reloading_map .reload_button:active {
  background-position: -24px 0px;
}

#reloading_fountains {
  color: white;
  width: 100%;
  height: 38px;
  margin: auto;
  background: rgba(0, 85, 134, 0.65);
  text-align: center;
}

#reloading_fountains div {
  display: inline-block;
}

#reloading_fountains .info_offline {
  float: left;
  height: 38px;
  line-height: 38px;
  vertical-align: middle;
  margin-right: 10px;
}
#reloading_fountains .reload_button {
  margin-top: 4px;
  float: right;
}
#reloading_fountains .reload_button:active {
  background-position: -24px 0px;
}