/*** default settings ***/
body, input {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
  width: 100%;
  height: 100%;
  background:#555;
}
a {
	color: #666;
	text-decoration: underline;
}
a:hover {text-decoration: none;}

/*** text indents ***/
#address .searchsubmit, #appstore, #googleplay, #logo_aqua, #logo_salzburg, .prev, .next {
	display: block;
	text-indent: -19999px;
	overflow: hidden;
}

/*** loading view ***/
#loading {
	width: 100%;
	height: 100%;
	min-height: 100px;
	opacity: 1;
	position: fixed;
	z-index: 1000;
	display: none;
}
#loading #background{
	width: 100%;
	height: 100%;
	background: #999;
	opacity: 0.4;
}

/*** map ***/
#map-wrap {
	position:absolute;
	top: 540px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%; 
	z-index: 20; 
	border-top: 6px solid #fff;
}
#map_canvas {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ddd;
	z-index: 4;
}

#map_pointer {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 32px;
	height: 102px;
	background-image: url(../img/richter.png);
	background-repeat: no-repeat;
	z-index: 10;
}

#map_pointer_text {
	position: absolute;
	top: 50px;
	left: 50px;
	width: auto;
	height: auto;
	color: black;
	font-size: 18px;
	font-weight: bold;
	z-index:11;
}

#activatemap {
	position:absolute;
	top: 540px;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%; 
	z-index: 21;
}
#scroll-wrap {
	position: relative;
	width: 960px;
	margin: 0 auto;
}
#scroll{
	position: absolute; 
	top: -42px; 
	left: 0;
	font-size: 16px; 
	display: block; 
	z-index: 15; 
	text-decoration: none; 
	background-color: #fff; 
	color: #527dbb; 
	padding: 10px 15px;
}
#scroll:hover, #scroll:focus, #scroll:active {
	background-color: #527dbb; 
	color: #fff; 
}

/** info boxes **/
.p_infobox_head {
	border-bottom: 1px dotted white;
	padding-bottom: 2px;
	font-weight: bold;
	line-height: 15px;
	color: #fff;
}
.p_infobox_content {
	margin-top: 5px;
	color: #fff;
}
.p_infobox_content a {
	color: #fff;
	text-decoration: underline;
}
.p_infobox_content a:hover {
	text-decoration: none;
}
.pointer {
	position: absolute;
	left: 70px;
	bottom: -40px;
	width: 70px;
	height: 40px;
	background-image: url('../img/pointer.png');
	background-repeat: no-repeat;
}

/** navigation **/
#navigation {
	position: absolute; 
	top: 50px; 
	left: 100px; 
	z-index: 5;
	opacity: 0;
	display:none;
}
#navigation .menu-item {
	font-size: 14px; 
	display: block; 
	float: left; 
	margin-right: 15px;
}
#navigation .maptype {display: none;}
#navigation .menu-item a {
	position: relative;
	text-decoration: none; 
	background-color: #fff; 
	color: #527dbb; 
	padding: 17px 15px 12px 45px; 
}
#navigation .menu-item a:hover, #navigation .menu-item a:focus, #navigation .menu-item a:active {
	background-color: #527dbb; 
	color:#fff; 
}
#navigation .menu-item span {
	position: absolute;
	top: 7px;
	left: 7px;
	display: block;
	width: 30px;
	height: 30px;
	background-image: url('../img/icons.png');
	background-repeat: no-repeat;
}
#navigation .position span {background-position: 0 -60px;}
#navigation .address span {background-position: 0 -90px;}
#navigation .fontain span {background-position: 0 -120px;}
#navigation .menu-item a:hover > span, #navigation .menu-item a:focus > span, #navigation .menu-item a:active > span {
	top: 5px;
	left: 5px;
	border: 2px solid #fff;
}

/** address search **/
#address, #maptype {
	display: none;
	position: absolute;
	top: 90px;
	left: 0;
	width: 100%;
	z-index: 30;
}
#address, #maptype div {
	width: 30%;
	background-color: #fff;
	padding: 15px;
	margin-left: 100px;
}
#address .addressinput {
	width: 87%;
	color: #666;
	font-size: 12px;
	padding: 5px;
	border: 1px solid #999;
}
#address .searchsubmit {
	background: url('../img/icons.png') -320px 0 no-repeat;
	border: 0;
	width: 18px;
	height: 18px;
	margin-top: 4px;
	float: right;
	cursor: pointer;
}

/*** wrap ***/
#wrap {
	position: relative;
	width: 100%; 
	min-width: 960px;
	height: 542px; 
	border-top: solid 8px #000; 
	background: url('../img/bg-wrap.jpg') 0 0 repeat; 
	overflow: hidden;
}
#inner-wrap {
	position: relative;
	width: 960px;
	margin: 0 auto;
}

/*** header navigation ***/
#header-navigation {
	position: absolute; 
	top: 121px; 
	left: 0px; 
	z-index: 10;
}
#header-navigation .menu-item {
	font-size: 14px; 
	display: block; 
	float: left; 
	margin-right: 15px; 
	text-transform: lowercase;
}
#header-navigation .menu-item a {
	display: block; 
	text-decoration: none; 
	color: #fff; 
	background-color: #527dbb; 
	padding: 7px 12px;
}
#header-navigation .menu-item a:hover, #top_navigation .menu-item a:focus, #top_navigation .menu-item a:active {
	background-color: #fff; 
	color: #527dbb; 
}

/*** logos ***/
#logo_aqua a {
	position: absolute; 
	top: 0px; 
	left: 0; 
	width: 146px; 
	height: 110px; 
	background: url('../img/logo_aqua.png') 0 0 no-repeat; 
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,.2);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.2);
	box-shadow: 0px 0px 5px rgba(0,0,0,.2);
}
#logo_salzburg {
	position: absolute; 
	top: 40px; 
	right: 0; 
	width: 128px; 
	height: 48px; 
	background: url('../img/logo_land_salzburg.png') 0 0 no-repeat;
}

/*** app info ***/
#slogan, #appstore, #googleplay {
	position: absolute; 
	left: 0;
	z-index: 5;
}
#slogan {top: 218px;}
#slogan span {
	font-size: 18px; 
	display: inline-block; 
	margin-bottom: 15px; 
	background-color: #fff; 
	padding: 8px 12px; 
	color: #527dbb;
}
#appstore, #googleplay {
	background-image: url('../img/icons.png');
	background-repeat: no-repeat;
	width: 120px;
	height: 40px;
}
#appstore {
	top: 340px; 
	background-position: -338px -80px;
}
#googleplay {
	top: 390px; 
	background-position: -338px -120px;
}

/*** hand with iphone ***/
#hand-phone {
	position: absolute; 
	bottom: 0px; 
	right: 0px; 
	background: url('../img/iphone_hand.png') 0 0 no-repeat;
	width: 564px;
	height: 480px;
	z-index: 5;
}

/*** image slider ***/
#slider {
	position: absolute;
	top: 122px;
	left: 0;
	width: 100%;
	background: #fff url('../img/loading.gif') no-repeat 50% 50%;
}
#slider img {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	display: none;
}

/*** feed & imprint ***/
#feed, #info {
	position: absolute;
	top: 180px;
	left: 0; 
	width: 960px;
	height: 290px;
	overflow: hidden;
	z-index: 10;
}
.prev, .next {
	position: absolute;
	top: 0;
	width: 30px;
	height: 290px;
	background: url('../img/links.png') #fff 3px 47% no-repeat;
	z-index: 5;
}
.prev {
	left: 0;
}
.next {
	right: 0;
	background-image: url('../img/rechts.png');
}
#rss {
	float: left;
	width: 3000%;
	margin-left: 40px;
	z-index: 4;
}
#info {
	width: 920px;
	height: 260px;
	background-color: #fff;
	padding: 20px 20px 10px 20px;
	overflow: auto;
}
#info h2 {
	color:#527dbb; 
	font-size: 140%;
	margin-bottom: 10px;
}
#info h4 {
	margin-bottom: 6px;
	font-weight: bold;
}
#info p {
	line-height: 1.3em;
	margin-bottom: 10px;
}
#rss article {
	float: left;
	width: 192px;
	height: 270px;
	background-color: #fff;
	margin-right: 10px;
	padding: 10px;
	overflow: hidden;
	position: relative;
}
#rss article:first-child {display: none;} /* hide first news element for presentation */
#rss article:last-child {margin-right: 0;}
.feed-title a {
	color:#527dbb; 
	text-decoration: none;
	font-size: 120%;
}
.feed-title {
	margin-bottom: 10px;
}
.feed-date {
	position: absolute;
	bottom: 15px;
	right: 10px;
}
.feed-content {
	line-height: 1.3em;
}
.feed-content img {
	display: block;
	margin: 0 auto 5px auto;
}
.feed-more {
	display: block;
	text-transform: lowercase;
	line-height:1.2em; 
	position:absolute; 
	bottom:9px; 
	color:#fff;
	text-decoration:none; 
	background-color:#527dbb; 
	color:#FFF; 
	padding: 9px 15px; 
	margin-left:0px;
}

/*** mobile devices ***/

/** smartphones **/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/*@media only screen and (min-width : 320px) and (max-width : 480px) {*/

	/** text indents only for mobile devices **/
	#header-navigation .menu-item a {
		display: block;
		text-indent: -19999px;
		overflow: hidden;
	}

	/** wrap **/
	#inner-wrap {width: 100%;}

	/** map **/
	#map-wrap {
		top: 0;
		bottom: 45px;
		border-top: 0;
	}
	#activatemap, #scroll {display: none;}

	/** navigation **/
	#header-navigation {
		top: 30px;
		left: auto;
		right: 30px;
		z-index: 35;
	}
	#header-navigation .menu-item {
		float: left;
		margin-left: 10px;
		margin-right: 0;
	}
	#header-navigation .menu-item a {
		padding: 0;
		width: 40px;
		height: 40px;
		background-image: url('../img/icons.png');
		background-repeat: no-repeat;
	}
	#header-navigation .feed a {background-position: -280px 0;}
	#header-navigation .about a {background-position: -240px 0;}
	#navigation {
		position: fixed;
		top: auto;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 45px;
		background-color: #000; 
		background-image: url('../img/navigation-gradient.png'); 
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(#000));
		background-image: -webkit-linear-gradient(top, #4c4c4c, #000); 
		background-image:    -moz-linear-gradient(top, #4c4c4c, #000);
		background-image:     -ms-linear-gradient(top, #4c4c4c, #000);
		background-image:      -o-linear-gradient(top, #4c4c4c, #000);
		z-index: 15;
		opacity: 1;
	}
	#navigation .menu-item {
		position: relative;
		width: 25%;
		font-size: 15px;
		margin-right: 0;
	}
	#navigation .maptype {display: block;}
	#navigation .menu-item a {
		display: block;
		width: 64px;
		margin: 0 auto;
		color: #fff;
		text-align: center;
		padding: 0;
		background-color: transparent; 
	}
	#navigation .menu-item a:hover, #navigation .menu-item a:focus, #navigation .menu-item a:active {
		background-color: transparent; 
	}
	#navigation .menu-item span {
		position: relative;
		top: auto;
		left: auto;
		width: 60px;
		height: 60px;
		margin: -50px auto 10px auto;
	}
	#navigation .position span {background-position: 0 0;}
	#navigation .address span {background-position: -60px 0;}
	#navigation .fontain span {background-position: -120px 0;}
	#navigation .maptype span {background-position: -180px 0;}
	#navigation .menu-item a:hover > span, #navigation .menu-item a:focus > span, #navigation .menu-item a:active > span {
		top: auto;
		left: auto;
		border-top: 0;
		border-bottom: 0;
		border-left: 2px solid #0079b7;
		border-right: 2px solid #0079b7;
	}

	/** address search **/
	#address, #maptype {
		top: auto;
		bottom: 80px;
	}
	#address div, #maptype div {
		width: 80%;
		margin: 0 auto;
	}
	#address .addressinput {
		width: 87%;
		color: #666;
		font-size: 12px;
		padding: 5px;
		border: 1px solid #999;
	}
	#maptype ul {padding: 10px 0 25px 0;}
	#maptype .menu-item {
		font-size: 15px;
		float: left;
		width: 25%;
		text-align: center;
	}
	#maptype a {text-decoration: none;}
	#maptype a:hover, #maptype a:focus, #maptype a:active {color: #0079b7;}

	/** feed & info **/
	#feed, #info {
		position: relative;
		top: auto;
		left: auto;
		height: auto;
		width: 100%;
	}
	#rss {
		width: 100%;
		margin-left: 0;
	}
	#rss, #info {
		background-color: #527dbb;
		padding: 5px 0 100px 0;
	}
	#rss article, #info div {
		display: block; 
		width: 90%; 
		height: auto;
		margin: 0 auto 5px auto;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		padding: 10px 10px 15px 10px;
		float: none;
	}
	#rss article:last-child {margin: 0 auto 5px auto;}
	#info div {
		background-color: #fff;
		padding: 20px 10px 5px 10px;
	}
	#info, .feed-title, .feed-content {line-height: 1.3em;}
	#info h2, .feed-title {
		color:#527dbb;
		font-size: 14px;
		margin-bottom: 10px;
	}
	#info h2 {margin-bottom: 20px;}
	.feed-title a {
		color:#527dbb;
		text-decoration: none;
	}
	.feed-date {
		position: absolute;
		bottom: 15px;
		right: 10px;
	}
	.feed-content {
		font-size: 12px;
	}
	.feed-content img {
		float: left;
		margin-right: 10px;
	}
	.feed-more {
		position: absolute;
		bottom: 20px;
		left: 10px;
		display: block;
		background-color: #527dbb;
		color: #fff;
		width: 40px; 
		padding: 9px;
		text-align: center;
		text-decoration: none;
	}
	.feed-more:hover, .feed-more:focus, .feed-more:active {
		background-color: #fff;
		color: #527dbb;
	}
	#info h4 {
		font-weight: bold;
		margin: 20px 0 6px 0;
	}
	#info p {
		margin-bottom: 10px;
	}

}

/** iPad - landscape **/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/** iPad - portrait **/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	
	/** wrap **/
	#wrap {min-width: 768px;}
	#inner-wrap {width: 650px;}

	/** hand with iphone **/
	#hand-phone {right: -150px;}

	/** scroll **/
	#scroll-wrap {width: 650px;}
	
}

/** larger screens **/
@media only screen and (min-width : 1500px) {

	/** header **/
	#logo_salzburg {right: 100px;}

	/** slider **/
	#slider img {width: 100%;}

}