/*** reset default browser CSS (Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html) ***/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, figure, figcaption {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {outline: 0;}
body {
	background: #fff;
	line-height: 1;
}
ol, ul {list-style: none;}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a img {border: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

/*** default settings ***/
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
a {
	color: #333;
	text-decoration: underline;
}
a:hover {text-decoration: none;}

/*** text indents ***/

/*** css classes ***/
#loading {
	width:100%;
	height:100%;
	min-height:100px;
	opacity: 1;
	position: fixed;
	z-index: 1000;
	display: none;
}

#loading #background{
	width:100%;
	height:100%;
	background: #999;
	opacity: 0.4;
}

/*** map ***/
#map_canvas {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 100px;
	z-index: 5;
	background: #444;
}

/*** navigation ***/
#navigation {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	border-top: 1px solid #000;
	background-color: #000;
	background-image: linear-gradient(bottom, rgb(0,0,0) 1%, rgb(84,84,84) 72%, rgb(105,102,105) 86%);
	background-image: -o-linear-gradient(bottom, rgb(0,0,0) 1%, rgb(84,84,84) 72%, rgb(105,102,105) 86%);
	background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 1%, rgb(84,84,84) 72%, rgb(105,102,105) 86%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 1%, rgb(84,84,84) 72%, rgb(105,102,105) 86%);
	background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 1%, rgb(84,84,84) 72%, rgb(105,102,105) 86%);
	background-image: -webkit-gradient(linear, left bottom,	left top,	color-stop(0.01, rgb(0,0,0)),	color-stop(0.72, rgb(84,84,84)), color-stop(0.86, rgb(105,102,105)));
	z-index: 6;
}
#navigation ul {margin-top: 20px;}
.menu-item {
	float:left;
	margin-right: 10px;
}
.menu-item a {
	text-decoration: none;
	background-color: #666;
	padding: 8px 12px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
}
.menu-item a:hover {background-color: #333;}
/*** rss feed ***/
#feed{
	min-height:320px;
}

#address, #maptype {
	width:100%;
	display:none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background: #555;
	text-align:center;
	vertical-align:middle;
	line-height:20%;
	padding: 10px 0 10px 0;
}


.p_infobox_head {
	border-bottom: 1px dotted white;
	padding-bottom: 2px;
	font-weight: bold;
	line-height: 15px;
	color: #fff;
}

.p_infobox_content {
	margin-top: 5px;
	color: #fff;
}

.p_infobox_content a {
	color: #fff;
	text-decoration: underline;
}

.p_infobox_content a:hover {
	text-decoration: none;
}

.pointer {
	position: absolute;
	left: 100px;
	bottom: -40px;
	width: 70px;
	height: 40px;
	background-image: url('../img/pointer.png');
	background-repeat: no-repeat;
}

/*** mobile commands ***/
/* portrait */
@media screen and (max-width: 320px){
	#map_canvas{
		width:320px;
		height:100%;
	}
	#navigation{
		width: 320px;
		height: 40px;
	}
	#navigation ul{
		margin-top: 10px;
	}
	.menu-item{
		margin-right: 5px;
	}
	.menu-item a{
		padding: 6px 3px;
	}
}

/* landscape */
@media screen and (min-width: 321px) and (max-width: 480px){
	#map_canvas{
		width:480px;
		height:100%;
	}
	#navigation{
		width: 480px;
		height: 40px;
	}
	#navigation ul{
		margin-top: 5px;
	}
	.menu-item{
		margin-right: 5px;
	}
	.menu-item a{
		padding: 3px 3px;
	}
}