<script type="text/template" id="loading_template">
	<div id="background"></div>
</script>

<!--<script type="text/template" id="feed_template">
  <section id="rss"></section>
</script>-->

<!--<script type="text/template" id="info_template">
  <div>
    <h2>Aqua Salzburg</h2>
    <p>entwickelt in Zusammenarbeit mit:<br>
      <b>MultiMediaTechnology</b> &amp; <b>MultiMediaArt</b><br>
      Studiengänge der Fachhochschule Salzburg</p>
    <p><img src="assets/img/logo-fh-salzburg.png" width="200" height="55" alt="FH Salzburg" /></p>
    <p><i>Programmierung:</i> Lukas Wanko, Nicole Buchegger, Robert Koch<br/>
      <i>Design:</i> Karin Schnirch, Philipp Fauser</p>
    <h4>Disclaimer – Haftungsausschlusserklärung</h4>
    <p>Diese Website dient zu Ihrer Information. Sie wird mit Sorgfalt bearbeitet. Sowohl für die Auswahl der einzelnen Verweise wie für die Beiträge in den Sparten kann für Vollständigkeit, Auswahl und inhaltliche Richtigkeit der Informationen keine Haftung übernommen werden. Der Betreiber kann für fremde Inhalte, die durch die angebotene Datenbank erreichbar sind (Links), keine Haftung übernehmen.</p>
    <p>Die Website kann insbesondere die persönliche Beratung im konkreten Einzelfall nicht ersetzten. Durch die zur Verfügung gestellten Informationen wird kein wie immer geartetes Rechtsverhältnis zwischen dem Land Salzburg und dem Nutzer begründet. </p>
    <p>Die auf der Website des Landes Salzburg veröffentlichten Beiträge sind urheberrechtlich geschützt. Jede unberechtigte Vervielfältigung und/oder Verbreitung dieser Seiten stellt eine Verletzung des österreichischen Urheberrechtsgesetzes dar. </p>
    <p>Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Seite verwiesen wurde.</p>
  </div>
</script>-->

<script type="text/template" id="map_template"></script>

<script type='text/template' id='searchaddressTemplate'>
	<div>
		<input type='text' name='address' value='Bitte geben Sie eine Adresse ein' class='addressinput' /> <input type='button' value='addresssuche' class='searchsubmit' />
	</div>
</script>

<script type='text/template' id='maptype_template'>
  <div>
    <ul>
      <li class='menu-item'><a href='#maptype/roadmap'>Straße</a></li>
      <li class='menu-item'><a href='#maptype/satellite'>Satellit</a></li>
      <li class='menu-item'><a href='#maptype/hybrid'>Hybrid</a></li>
      <li class='menu-item'><a href='#maptype/terrain'>Terrain</a></li>
    </ul>
  </div>
</script>