<script type="text/template" id="loading_template">
	<div id="background"></div>
</script>

<script type="text/template" id="feed_template">
  <section id="rss"></section>
</script>

<script type="text/template" id="info_template">
  <h2>Trinkwasser Land Salzburg</h2>
  <p>
  	entwickelt in Zusammenarbeit mit:<br/>
  	<b>FH Salzburg<br/>
  	Studiengang MultimediaTechnology</b>
  </p>
  <P>
  	Programmierung: Lukas Wanko, Nicole Buchegger, Robert Koch<br/>
  	Design: Karin Schnirch, Philipp Fauser
  </p>
  <p></p>
</script>

<script type="text/template" id="map_template"></script>

<script type='text/template' id='navigation_template'>
  <ul>
    <li class='menu-item'><a href='#position'>Position</a></li>
    <li class='menu-item'><a href='#address'>Adresse</a></li>
    <li class='menu-item'><a href='#next'>Brunnen</a></li>
    <li class='menu-item'><a href='#maptype'>Kartentyp</a></li>
    <li class='menu-item'><a href='#feed'>News</a></li>
    <li class='menu-item'><a href='#about'>Info</a></li>
  </ul>
</script>

<script type='text/template' id='searchaddressTemplate'>
	<div>
		<input type='text' name='address'/> <input type='button' value='addresssuche' />
	</div>
</script>

<script type='text/template' id='maptype_template'>
  <div>
    <ul>
      <li class='menu-item'><a href='#maptype/roadmap'>Straße</a></li>
      <li class='menu-item'><a href='#maptype/satellite'>Satellit</a></li>
      <li class='menu-item'><a href='#maptype/hybrid'>Hybrid</a></li>
      <li class='menu-item'><a href='#maptype/terrain'>Terrain</a></li>
    </ul>
  </div>
</script>