<script type="text/template" id="navigation_template">
  <ul>
    <li class="menu-item"><a href="#<%= first.url %>" onclick="<%= first.onclick %>"><%= first.title %></a></li>
    <!--<li class="menu-item"><a href="#<%= second.url %>"><%= second.title %></a></li>-->
    <!--<li class="menu-item"><a href="#<%= third.url %>"><%= third.title %></a></li>-->
    <li class="menu-item"><a href="#<%= fourth.url %>"><%= fourth.title %></a></li>
    <!--<li class="menu-item"><a href="#<%= fifth.url %>"><%= fifth.title %></a></li>-->
  </ul>
</script>