<script type='text/template' id='navigation_template'>
  <ul>
    <li class='menu-item'><a href='<%= first.url %>' onclick='<%= first.onclick %>'><%= first.title %></a></li>
    <li class='menu-item'><a href='<%= second.url %>' onclick='<%= second.onclick %>'><%= second.title %></a></li>
    <li class='menu-item'><a href='<%= third.url %>' onclick='<%= third.onclick %>'><%= third.title %></a></li>
    <li class='menu-item'><a href='<%= fourth.url %>' onclick='<%= fourth.onclick %>'><%= fourth.title %></a></li>
    <!--<li class='menu-item'><a href='<%= fifth.url %>' onclick='<%= fifth.onclick %>'><%= fifth.title %></a></li>-->
  </ul>
</script>